.events-table {
  thead {
    tr {
      th:first-child {
        width: 10%;
      }
      th:nth-child(2) {
        width: 75%;
      }
    }
  }
  tbody {
    tr {
      height: 50px;

      &:nth-child(even) {
        background-color: #e1f6ff;
      }
    }
  }
}
