.events-table {
  thead {
    tr {
      th:first-child {
        width: 10%;
      }
      th:nth-child(2) {
        width: 75%;
      }
    }
    &.event-confirm {
      tr {
        th:first-child {
          width: 10%;
        }
        th:nth-child(2) {
          width: 10%;
        }
      }
    }
  }
  tbody {
    tr {
      height: 63px;

      &:nth-child(even) {
        background-color: #e1f6ff;
      }
    }
  }
}
