.bg-light-blue {
  background-color: skyblue;
}

.btn-light-blue {
  color: #fff;
  background-color: skyblue;
  border-color: skyblue;
}

.btn-light-blue:hover {
  color: #fff;
  background-color: #6ea9c0;
  border-color: #6ea9c0;
}

.btn-light-red {
  color: #fff;
  background-color: #eb87a3;
  border-color: #eb87a3;
}

.btn-light-red:hover {
  color: #fff;
  background-color: #ba6b81;
  border-color: #ba6b81;
}

.btn-xlg {
  padding: .8rem 3rem;
  font-size: 1.8rem;
}
