.day {
  border: 4px solid transparent;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition-duration: 250ms;

  .event-count {
    // bottom: 0;
    color: #80a0ad;
    font-size: .8rem;
    // right: 1px;
  }

  &.active {
    border: 4px solid #507c8e;
    box-shadow: 2px 2px 2px rgba(0, 0 ,0 , .8);
  }

  &:hover {
    filter: grayscale(80%);
    box-shadow: 0 0 4px rgba(0, 0 ,0 , .8);
  }
}
